<div class="container_main">
    <dl class="clearfix">
        <dd>
            <a ui-sref="hosts.home" title="环境部署" href="/deploy/env"><img src="/static/images/deploy/surroundings.png" alt="环境部署">
                <h6>环境部署</h6></a>
        </dd>
        <dd></dd>
        <dd>
            <a ui-sref="hosts.hostSaltJobList" title="日志列表" href="#/hosts/hostSaltJobList"><img src="/static/images/deploy/log.png" alt="日志列表">
                <h6>日志列表</h6></a>
        </dd>
        <dd></dd>
        <dd>
            <a href="/test/" target="_blank" title="自动化测试平台"><img src="/static/images/deploy/testsysterm.png" alt="自动化测试平台">
                <h6>自动化测试平台</h6></a>
        </dd>
    </dl>
    <dl class="clearfix">
        <dd></dd>
        <dd>
            <a ui-sref="projectIndex" title="项目部署" href="#/projects"><img src="/static/images/deploy/project.png" alt="项目部署">
                <h6>项目部署</h6></a>
        </dd>
        <dd></dd>
        <dd>
            <a ui-sref="softDetail" title="软件列表" href="#/softDetail"><img src="/static/images/deploy/software.png" alt="软件列表">
                <h6>软件列表</h6></a>
        </dd>
    </dl>
</div>
