{% extends './deploy/base.html' %}

{% block main_view %}
<div class="panel panel-default content-margin-top">
    <div class="row clearfix">
        <div class="panel-heading text-left" style="float:left;">
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {{ date }}
        </div>
        <div class="search_bar">
            <input id='datepicker' type="text" class="form-control" placeholder='选择日期'>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <tr>
            <th>时间</th>
            <th>用户</th>
            <th>操作</th>
            <th>参数</th>
        </tr>
        {% for log in logs %}
        <tr>
            <td>{{ log.time }}</td>
            <td>{{ log.user|e }}</td>
            <td>{{ log.act }}</td>
            <td>
                {{ log.args|tojson }}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="/static/css/jquery-ui.min.css">
{% endblock %}

{% block page_js %}
<script src='/static/js/jquery-ui.min.js'></script>
<script>
$('#datepicker').datepicker({
    dateFormat: "yy-mm-dd"
}).change(function() {
    window.location = '?' + $(this).val();
});
</script>
{% endblock %}
