<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h4 class="text-info"><strong>环境部署</strong></h4>
        <p>1.可选择模块或者机器进行环境部署</p>
        <p>2.点击新部署，可部署不同版本的软件</p>
        <p>3.关于软件的详细内容，可查看软件列表</p>
        <p>4.如不存在的软件，可联系项目运维人员</p>
        <p><a ui-sref="help.hdeploy" class="btn btn-info" role="button">Learn more</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h4 class="text-info"><strong>配置文件</strong></h4>
        <p>1.可选择模块或者机器进行配置更改</p>
        <p>2.点击配置文件，可更改配置</p>
        <p>3.如针对模块获取文件，则提供diff文件功能</p>
        <p>4.选择部署，则配置文件更改成功</p>
        <p><a ui-sref="help.conf" class="btn btn-info" role="button">Learn more</a></p>
      </div>
    </div>
  </div>
 <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h4 class="text-info"><strong>初始环境</strong></h4>
        <p>1.可选择模块或者机器进行初始化</p>
        <p>2.点击初始环境，可初始化机器的环境</p>
        <p>3.初始化配置、安装常用命令、必备软件</p>
        <p>4.需添加初始化内容，可联系项目运维人员</p>
        <p><a ui-sref="help.init" class="btn btn-info" role="button">Learn more</a></p>
      </div>
    </div>
  </div>
</div>
