{% extends './deploy/base.html' %}

{% block main_view %}
<div class="panel panel-default content-margin-top">
    <div class="panel-heading panel-heading02">
        <ul class="breadcrumb">
            <li><a href='/deploy/'>项目列表</a></li>
            <li><a href='/deploy/projects/detail/{{ project_name|e }}'>{{ project_name|e }}</a></li>
            <li class="active">容器列表</a></li></li>
        </ul>
    </div>

    {% include 'deploy/common/containers_table.html' %}
</div>
{% endblock %}

{% block page_js %}
<script src='/static/js/common.js'></script>
{% endblock %}
