{% extends "/deploy/base.html" %}

{% block main_view %}
<div class="panel panel-default content-margin-top">
  <div class="panel-heading panel-heading02">
    <ul class="breadcrumb">
      <li><a href="{{ url_for('deploy.deploy') }}">项目列表</a></li>
      <li><a href="{{ url_for('deploy.detail', name=name) }}">{{ name }}</a></li>
      <li class="active">容器列表</li>
    </ul>
  </div>

  {% include "/deploy/common/containers_table.html" %}
</div>
{% endblock %}

{% block page_js %}
<script src="/static/js/common.js"></script>
{% endblock %}
