{% extends './deploy/base.html' %}

{% block main_view %}
<div class="panel panel-default content-margin-top">
    <div class="panel-heading panel-heading02">
        <ul class="breadcrumb">
            <li><a href='/deploy/'>项目列表</a></li>
            <li class="active">{{ project.name }} 详情</li>
        </ul>
    </div>

    <table class="table table-bordered table-ver">
        <tr>
            <th class="col-xs-2 text-right">项目名称:</th>
            <td>{{ project.name }}</td>
        </tr>

        <tr>
            <th class="col-xs-2 text-right">仓库地址:</th>
            <td>{{ project.git }}</td>
        </tr>
    </table>
</div>
{% endblock %}
