{% extends './deploy/base.html' %}

{% block main_view %}
<div class="panel panel-default content-margin-top">
    <div class="panel-heading panel-heading02">
        <ul class="breadcrumb">
            <li><a href='/deploy/'>项目列表</a></li>
            <li class="active">{{ project.name }} 详情</li>
        </ul>
    </div>

    <table class="table table-bordered table-ver">
        <tr>
            <th class="col-xs-2 text-right">项目名称:</th>
            <td>{{ project.name }}</td>
        </tr>

        <tr>
            <th class="col-xs-2 text-right">仓库地址:</th>
            <td>{{ project.git }}</td>
        </tr>

        <tr>
            <th class="col-xs-2 text-right">操作:</th>
            <td>
                <a href='/deploy/projects/images/{{ project.name|e }}' class="btn btn-default btn-xs"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> 任务列表</a>
                <a href='/deploy/projects/build_image/{{ project.name|e }}' class="btn btn-default btn-xs"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 新建镜像</a>
                <a href='/deploy/projects/envs/{{ project.name|e }}' class="btn btn-default btn-xs"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> 环境列表</a>
                <a href='/deploy/projects/containers/{{ project.name|e }}' class="btn btn-default btn-xs"><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> 容器列表</a>
                <a href='/deploy/projects/deploy_container/{{ project.name|e }}' class="btn btn-default btn-xs"><span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span> 上线容器</a>
            </td>
        </tr>
    </table>
</div>
{% endblock %}
