{% extends './deploy/base.html' %}

{% block main_view %}
<div class="panel panel-default content-margin-top">
    <div class="panel-heading panel-heading02">
        <ul class="breadcrumb">
            <li><a href='/deploy/'>项目列表</a></li>
            <li><a href='/deploy/projects/detail/{{ project_name|e }}'>{{ project_name|e }}</a></li>
            <li class="active">环境列表</a></li></li>
        </ul>
    </div>
    <table class="table table-bordered table-striped">
        <tr>
            <th class="col-xs-2">名称</th>
        </tr>

        {% for e in envs %}
        <tr>
            <td><a href='/deploy/projects/envs/{{ project_name|e }}/{{ e|e }}'>{{ e|e }}</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
