<div class="panel panel-default content-margin-top">
    <div class="panel-heading">
        <li class="active">版本详情</li>
    </div>
    <div class="panel-body">

        <table class="table table-bordered">
            <tr>
                <th class="col-xs-2 text-right">项目名称:</th>
                <td>{{ project.name }}</td>
            </tr>

            <tr>
                <th class="col-xs-2 text-right">版本引用:</th>
                <td>{{ projectVersion.ref_name }} / {{ projectVersion.ref_hexsha1 }}</td>
            </tr>

            <tr>
                <th class="col-xs-2 text-right">变更内容:</th>
                <td>{{ projectVersion.message }}</td>
            </tr>

            <tr>
                <th class="col-xs-2 text-right">部署版本:</th>
                <td>{{ projectVersion.version.name }}</td>
            </tr>

            <tr>
                <th class="col-xs-2 text-right">状态:</th>
                <td>{{ projectVersion.status_name }}</td>
            </tr>

        </table>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>
