<div class="container-fluid">
    <ul class="process">
        <li ng-if="drawing.projectNew.enable">
            <a ui-sref="projectNew">
                <p ng-class="drawing.projectNew.className"><span class='icon-creat'></span>
                </p>
                <h6>新建项目</h6>
            </a>
        </li>
        <li ng-if="drawing.projectBuild.enable">
            <a href="javascript: void(0);">
                <p ng-class="drawing.projectBuild.className"><span class='icon-build'></span>
                </p>
                <h6>项目构建</h6>
            </a>
        </li>
        <li ng-if="drawing.projectAutoTest.enable">
            <a href="javascript: void(0);">
                <p ng-class="drawing.projectAutoTest.className"><span class='icon-autotest'></span>
                </p>
                <h6>自动化测试</h6>
            </a>
        </li>
        <li ng-if="drawing.projectFuncTest.enable">
            <a href="javascript: void(0);">
                <p ng-class="drawing.projectFuncTest.className"><span class='icon-test'></span>
                </p>
                <h6>功能测试</h6>
            </a>
        </li>
        <li ng-if="drawing.projectApply.enable">
            <a ui-sref="sidebar.approvalSheetIndex({projectId: projectId})">
                <p ng-class="drawing.projectApply.className"><span class='icon-apply'></span>
                </p>
                <h6>审核机制</h6>
            </a>
        </li>
        <li ng-if="drawing.projectDeploy.enable">
            <a ui-sref="sidebar.approvalSheetIndex({projectId: projectId})">
                <p ng-class="drawing.projectDeploy.className"><span class='icon-deploy'></span>
                </p>
                <h6>项目部署</h6>
            </a>
        </li>
    </ul>
</div>
