<div class="panel panel-default content-margin-top">
    <div class="panel-heading panel-heading02">
        <ul class="breadcrumb">
            <li><a ui-sref="projectIndex">项目列表</a>
            </li>
            <li class="active">{{ project.name }} 详情</li>
        </ul>
    </div>

    <table class="table table-bordered table-ver">
        <tr>
            <th class="col-xs-2 text-right">项目名称:</th>
            <td>{{ project.name }}</td>
        </tr>

        <tr>
            <th class="col-xs-2 text-right">仓库地址:</th>
            <td>{{ project.repo_url }}</td>
        </tr>

        <tr>
            <th class="col-xs-2 text-right">基础镜像:</th>
            <td>{{ project.base_image }}</td>
        </tr>

        <tr>
            <th class="col-xs-2 text-right">所属部门:</th>
            <td>{{ project.group.name }}</td>
        </tr>

        <tr>
            <th class="col-xs-2 text-right">线上版本:</th>
            <td>{{ project.online_ver }}</td>
        </tr>

        <tr>
            <th class="col-xs-2 text-right">备注:</th>
            <td>{{ project.comment }}</td>
        </tr>

        <tr>
            <th class="col-xs-2 text-right">Jenkins CI:</th>
            <td>{{ project.enable_ci ? '开启' : '未开启' }}</td>
        </tr>

        <tr>
            <th style='vertical-align: top' class="col-xs-2 text-right">构建脚本:</th>
            <td>
                <div ng-repeat="ln in project.build_script">
                    {{ ln }}
                </div>
            </td>
        </tr>

        <tr>
            <th class="col-xs-2 text-right">操作:</th>
            <td>
                <a ui-sref="sidebar.projectEdit({projectId: project.id})" class="btn btn-default"
                ng-disabled="!loadStatus.project">编辑</a>
            </td>
        </tr>
    </table>
</div>
