{% extends "/lb/base.html" %}

{% block main_view %}
<div class="panel panel-default content-margin-top">
  <div class="panel-heading panel-heading02">
    <ul class="breadcrumb">
      <li><a href="{{ url_for('lb.index') }}">负载均衡</a></li>
      <li class="active">创建新的</li>
    </ul>
  </div>

  <div class="panel-body">
    <form class="form-horizontal form-submit" data-url="{{ url_for('lb.create') }}" data-method="POST">
      <div class="form-group">
        <label for="input-ip" class="col-sm-1 control-label">机器组</label>
        <div class="col-sm-10">
          <select name='pod' id='pod-select' class="form-control">
            {% for p in pods %}
            <option value='{{ p.name }}'>{{ p.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="input-ip" class="col-sm-1 control-label">指定宿主机</label>
        <div class="col-sm-10">
          <select name="host" id="host-select" class="form-control">
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="input-ip" class="col-sm-1 control-label">指定版本</label>
        <div class="col-sm-10">
          <select name="type" class="form-control">
            <option value="beta">BETA</option>
            <option value="release">RELEASE</option>
            <option value="roper">ROPER</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="input-ip" class="col-sm-1 control-label">CPU Core</label>
        <div class="col-sm-10">
          <input data-slider-id="slider"
          data-slider-min="0.1"
          data-slider-max="24"
          data-slider-step="0.1"
          data-slider-value="0.1"
          type="number" value="1" name="ncore" class="form-control" >
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-1 col-sm-11">
          <button type="button" class="btn btn-primary submitter" id='deploy'>上线</button>
        </div>
      </div>

      <div class="col-sm-offset-1 col-sm-11">
        <div class='error-reason'></div>
        <div class='error-detail'></div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block page_css %}
<link rel="stylesheet" href="/static/css/bootstrap-slider.css">
<style>
  div.slider {width: 100% !important;}
</style>
{% endblock %}

{% block page_js %}
<script src='/static/js/deploy/submit.js'></script>
<script src="/static/js/bootstrap-slider.js"></script>
<script>

  $('input[name=ncore]').slider({
    tooltip: 'always'
  });

$('#deploy')[0].success = function() {
  window.location = '/lb/';
}

function setCPUCore(hostname) {
  $.get('/deploy/api/host/' + hostname, {}, function(r){
    $('#slider').slider({
      max: r.count,
      min: 0.1,
      step: 0.1,
      tooltip: 'always',
      value: 0.1,
    }).slider('refresh');
  });
}

function podSelected() {
  $.get('/deploy/api/pods/' + $('#pod-select').val() + '/list_hosts', {}, function(r) {
    $('#host-select').html('');
    for (var i = 0; i < r.length; ++i) {
      $('#host-select').append($('<option>').val(r[i].name).text(r[i].addr + ' - ' + r[i].name));
    }

    var options = $('#host-select option');
    if (options.length === 0) {
      return;
    }
    var v = options[0].value;
    if (!v) {
      return;
    }
    setCPUCore(v);
  });
}

podSelected();
$('#pod-select').change(podSelected);

$('#host-select').change(function (){
  var v = $(this).val();
  if (v === '') {
    return;
  }
  setCPUCore(v)
});

</script>
{% endblock %}
