{% extends "/lb/base.html" %}

{% block main_view %}
<div class="panel panel-default content-margin-top">
  <div class="panel-heading panel-heading02">
    <ul class="breadcrumb">
      <li><a href="{{ url_for('lb.index') }}">负载均衡</a></li>
      <li class="active">创建新的</li>
    </ul>
  </div>

  <div class="panel-body">
    <form class="form-horizontal form-submit" data-url="{{ url_for('lb.create') }}" data-method="POST">
      <div class="form-group">
        <label for="input-ip" class="col-sm-1 control-label">机器组</label>
        <div class="col-sm-10">
          <select name='pod' id='pod-select' class="form-control">
            {% for p in pods %}
            <option value='{{ p.name }}'>{{ p.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="input-ip" class="col-sm-1 control-label">指定宿主机</label>
        <div class="col-sm-10">
          <select name='host' id='host-select' class="form-control">
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="input-ip" class="col-sm-1 control-label">指定版本</label>
        <div class="col-sm-10">
          <select name="type" class="form-control">
            <option value="beta">BETA</option>
            <option value="release">RELEASE</option>
            <option value="roper">ROPER</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="input-ip" class="col-sm-1 control-label">CPU Core</label>
        <div class="col-sm-10">
          <input type="number" value="1" name="ncore" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-1 col-sm-11">
          <button type="button" class="btn btn-primary submitter" id='deploy'>上线</button>
        </div>
      </div>

      <div class="col-sm-offset-1 col-sm-11">
        <div class='error-reason'></div>
        <div class='error-detail'></div>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block page_js %}
<script src='/static/js/deploy/submit.js'></script>
<script>
  $('#deploy')[0].success = function() {
    window.location = '/lb/';
  }

function podSelected() {
  $.get('/deploy/api/pods/' + $('#pod-select').val() + '/list_hosts', {}, function(r) {
    $('#host-select').html('');
    for (var i = 0; i < r.length; ++i) {
      $('#host-select').append($('<option>').val(r[i].name).text(r[i].addr + ' - ' + r[i].name));
    }
  });
}

podSelected();
$('#pod-select').change(podSelected);
</script>
{% endblock %}
