{% extends "/lb/base.html" %}

{% block main_view %}
<div class="panel panel-default content-margin-top">
  <div class="row clearfix">
    <div class="panel-heading text-left" style="float:left;">
      <a class="btn btn-default btn-dark" href="{{ url_for('lb.create') }}">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 新建LB
      </a>
    </div>
  </div>
</div>
<table class="table table-bordered table-striped">
  <tr>
    <th>#</th>
    <th>容器 ID</th>
    <th>路由</th>
    <th>操作</th>
  </tr>
  {% for b in balancers %}
  <tr>
    <td>{{ b.id }}</td>
    <td>{{ b.container_id[:11] }}</td>
    <td>
      {% for r in b.get_records() %}
      <p>{{ r.domain }} --> {{ r.appname }}:{{ r.entrypoint }}</p>
      {% endfor %}
    </td>
    <td>
      <a href="{{ url_for('lb.records', balancer_id=b.id) }}" class="btn btn-default btn-xs">
        <i class="fa fa-cube"></i> 查看记录
      </a>

      <button class="btn btn-danger btn-toggle-next btn-xs btn-delete" data-id="{{ b.id }}">
        <i class="fa fa-trash"></i> 下线
      </button>
    </td>
  </tr>
  {% endfor %}
</table>
{% include "/common/pagination.html" %}
</div>
{% endblock %}

{% block page_js %}
<script src='/static/js/common.js'></script>
<script>
  $('.btn-delete').click(function() {
    if (!confirm('确定要删除?')) {
      return;
    }
    var btn = $(this);
    $.ajax({
      url: '/lb/api/' + btn.data('id'),
      type: 'DELETE',
      success: function() {
        btn.parent().parent().remove();
      }
    });
  });
</script>
{% endblock %}
