{% extends './lb/base.html' %}

{% block main_view %}
<div class="panel panel-default content-margin-top">
    <div class="row clearfix">
        <div class="panel-heading text-left" style="float:left;">
            <a class="btn btn-default btn-dark" href='/lb/plans/new'><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 新建配置</a>
        </div>
        <div class="search_bar">
            <input type="text" id='projectName' class="form-control" placeholder="输入项目名字跳转">
            <button id="toProject" class="glyphicon glyphicon-arrow-right"></span></button>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <tr>
            <th>#</th>
            <th>名字</th>
            <th>负载均衡容器</th>
            <th>路由</th>
            <th>操作</th>
        </tr>
        {% for b in balancers %}
        <tr>
            <td>{{ b.name }}</td>
            <td>{{ b.container_id }}</td>
            <td>这里是个列表吧</td>
            <td>
                <a href='/lb/project/{{ b.appname }}/' class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-th" aria-hidden="true"></span> 查看
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% include 'common/pagination.html' %}
</div>
{% endblock %}

{% block page_js %}
<script>
function goProj() {
    var proj = $('#projectName').val().trim();
    if (proj.length === 0) {
        return;
    }
    window.location = '/lb/project/' + proj;
}

$('#toProject').click(function() {
    goProj();
});

$('#projectName').keyup(function(event) {
    if (event.keyCode == 13) {
        goProj();
    }
});
</script>
{% endblock %}
