{% extends './lb/base.html' %}

{% block main_view %}
<div class="panel panel-default content-margin-top">
    <div class="row clearfix">
        <div class="panel-heading text-left" style="float:left;">
            <a class="btn btn-default btn-dark" href='/lb/create'><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 新建容器</a>
        </div>
        <div class="search_bar">
            <input type="text" id='projectName' class="form-control" placeholder="输入项目名字跳转">
            <button id="toProject" class="glyphicon glyphicon-arrow-right"></span></button>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <tr>
            <th>#</th>
            <th>容器 ID</th>
            <th>路由</th>
            <th>操作</th>
        </tr>
        {% for b in balancers %}
        <tr>
            <td>{{ b.id }}</td>
            <td>{{ b.container_id[:11] }}</td>
            <td>
              {% for r in b.get_records() %}
                <p>{{r.domain}} --> {{r.appname}}:{{r.entrypoint}}</p>
              {% endfor %}
            </td>
            <td>
                <a href='/lb/{{ b.id }}/records' class="btn btn-default btn-xs">
                    <i class="fa fa-cube"></i> 查看容器
                </a>

                {% if b.appname %}
                <a href='/lb/project/{{ b.appname }}/' class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-th" aria-hidden="true"></span> 查看应用
                </a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% include 'common/pagination.html' %}
</div>
{% endblock %}

{% block page_js %}
<script>
function goProj() {
    var proj = $('#projectName').val().trim();
    if (proj.length === 0) {
        return;
    }
    window.location = '/lb/project/' + proj;
}

$('#toProject').click(function() {
    goProj();
});

$('#projectName').keyup(function(event) {
    if (event.keyCode == 13) {
        goProj();
    }
});
</script>
{% endblock %}
