<div class="panel panel-default content-margin-top">
    <div class="panel-heading panel-heading02">
        <ul class="breadcrumb">
            <li><a ui-sref="projectIndex">项目列表</a>
            </li>
            <li><a ui-sref="sidebar.projectShow({projectId: project.id})">{{ project.name }} 详情</a>
            </li>
            <li class="active">版本列表</li>
        </ul>
    </div>
    <table class="table table-bordered table-striped">
        <tr>
            <th class="col-xs-2">ID</th>
            <th>分支</th>
            <th>镜像版本</th>
            <th>状态</th>
            <th>开始时间</th>
        </tr>

        <tr ng-repeat="projectVersion in projectVersions">
            <td>{{ projectVersion.id }}</td>
            <td>{{ projectVersion.ref_name }}</td>
            <td>{{ projectVersion.version }}</td>
            <td>{{ projectVersion.status_name }}</td>
            <td>{{ projectVersion.created_at }}</td>
        </tr>
    </table>
</div>

<ng-include src="'common/paging.html'"></ng-include>
