<div class="panel panel-default content-margin-top">
    <div class="panel-heading">
        <ul class="breadcrumb">
            <li><a ui-sref="projectIndex">项目列表</a>
            </li>
            <li><a ui-sref="sidebar.projectShow({projectId: project.id})">{{ project.name }} 详情</a>
            </li>
            <li><a ui-sref="sidebar.projectVersionIndex({projectId: projectId})">版本列表</a>
            </li>
            <li class="active">新建版本</li>
        </ul>
    </div>
    <div class="panel-body">
        <form name="projectVersionNewForm" class="form-horizontal" novalidate>
            <div class="form-group">
                <label for="input-ip" class="col-sm-1 control-label">项目名称</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="project.name" readonly="readonly">
                </div>
            </div>

            <div class="form-group">
                <label for="input-ip" class="col-sm-1 control-label">版本引用</label>
                <div class="col-sm-10">
                    <ui-select ng-model="projectVersion.ref_hexsha1" on-select="setSelectedRef($item)">
                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="ref.hexsha as ref in refs | filter: $select.search">
                            <div ng-bind-html="ref.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <span class="help-block">引用: {{selectedRef.ref_type}}, 最近提交: {{selectedRef.message}} / {{selectedRef.hexsha}}</span>
                </div>
            </div>

            <div class="form-group">
                <label for="input-ip" class="col-sm-1 control-label">基础镜像</label>
                <div class="col-sm-10">
                    <ui-select ng-model="projectVersion.base_image" on-select="setSelectedBaseImage($item)">
                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="img in baseImageNames | filter: $select.search">
                            <div ng-bind-html="img | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <span class="help-block">{{baseImageName}}</span>
                </div>
            </div>

            <div class="form-group">
                <label for="input-ip" class="col-sm-1 control-label">机器组</label>
                <div class="col-sm-10">
                    <ui-select ng-model="projectVersion.pods" on-select="setSelectedPod($item)">
                        <ui-select-match>{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="p in pods | filter: $select.search">
                            <div ng-bind-html="p | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                    <span class="help-block">{{pod}}</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-1 col-sm-11">
                    <button type="button" class="btn btn-primary" ng-click="projectVersionNewSave()"
                    validation-submit="projectVersionNewForm" ng-disabled="!loadStatus.project || !selectedRef || !baseImageName">构建</button>
                </div>
            </div>
        </form>
    </div>
</div>
