<div class="panel panel-default content-margin-top">
    <div class="panel-heading">
        <ul class="breadcrumb">
            <li><a ui-sref="projectIndex">项目列表</a>
            </li>
            <li><a ui-sref="sidebar.projectShow({projectId: project.id})">{{ project.name }} 详情</a>
            </li>
            <li><a ui-sref="sidebar.projectVersionIndex({projectId: projectId})">版本列表</a>
            </li>
            <li class="active">{{ projectVersion.version.name }} 详情</li>
        </ul>
    </div>
    <table class="table table-bordered table-ver">
        <tr>
            <th class="col-xs-2 text-right">项目名称:</th>
            <td>{{ project.name }}</td>
        </tr>

        <tr>
            <th class="col-xs-2 text-right">版本引用:</th>
            <td>{{ projectVersion.ref_name }} / {{ projectVersion.ref_hexsha1 }}</td>
        </tr>

        <tr>
            <th class="col-xs-2 text-right">变更内容:</th>
            <td>{{ projectVersion.message }}</td>
        </tr>

        <tr>
            <th class="col-xs-2 text-right">部署版本:</th>
            <td>{{ projectVersion.version.name }}</td>
        </tr>

        <tr>
            <th class="col-xs-2 text-right">状态:</th>
            <td>
                {{ projectVersion.status_name }}
                <img ng-if="!projectVersion.status" src="images/waiting.gif" />
            </td>
        </tr>

        <tr>
            <th class="col-xs-2 text-right">创建者:</th>
            <td>{{ projectVersion.username }}</td>
        </tr>

        <tr>
            <th class="col-xs-2 text-right">CI 状态:</th>
            <td>
                <a ng-if="projectVersion.ci.result_link" href="{{projectVersion.ci.result_link}}"
                target="_blank">{{ projectVersion.ci.status_name }}</a>
                <span ng-if="!projectVersion.ci.result_link">{{ projectVersion.ci.status_name }}</span>
            </td>
        </tr>

        <tr>
            <th class="col-xs-2 text-right">HTTP接口测试状态:</th>
            <td>
                <a ng-if="projectVersion.apitest.result_link" href="{{projectVersion.apitest.result_link}}"
                target="_blank">{{ projectVersion.apitest.status_name }}</a>
                <span ng-if="!projectVersion.apitest.result_link">{{ projectVersion.apitest.status_name }}</span>
                <button ng-if="projectVersion.apitest.can" type="button" class="btn btn-default"
                ng-click="retryApiTest()">重试</button>
            </td>
        </tr>

        <tr ng-if="projectVersion.build_output">
            <th class="col-xs-2 text-right">编译输出:</th>
            <td>
                <button type="button" class="btn btn-default" ng-click="showBuildOutput()">查看</button>
            </td>
        </tr>

        <tr>
            <th class="col-xs-2 text-right">流程图:</th>
            <td>
                <ng-include src="'projects/process.html'"></ng-include>
            </td>
        </tr>
    </table>
</div>
