{% extends './base.html' %}

{% block title %}设置{% endblock %}

{% block body %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class=container-fluid>
        <div class=navbar-header>
            <button type=button class="navbar-toggle collapsed" data-toggle=collapse data-target=#navbar aria-expanded=false aria-controls=navbar>
                <span class=sr-only>Toggle navigation</span> <span class=icon-bar></span> <span class=icon-bar></span>
                <span class=icon-bar></span>
            </button>
            <a class=navbar-brand href='/'>
                <img src='/static/images/deploy/logo.png' style="max-width:35px; margin-top: -10px">&nbsp;云平台
            </a>
        </div>
        <div id=navbar class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href='/'>基础镜像</a></li>
            </ul>
            {% include 'common/user.html' %}
        </div>
    </div>
</nav>
<div class=container-fluid>{% block main_view %}{% endblock %}</div>
{% endblock %}
