{% extends './base.html' %}

{% block body %}
<nav class="navbar navbar-inverse">
    <div class=container-fluid>
        <div class=navbar-header>
            <button type=button class="navbar-toggle collapsed" data-toggle=collapse data-target=#navbar aria-expanded=false aria-controls=navbar>
                <span class=sr-only>Toggle navigation</span> <span class=icon-bar></span> <span class=icon-bar></span>
                <span class=icon-bar></span>
            </button>
            <a class=navbar-brand href='/'>
                <img src='/static/images/deploy/logo.png' style="max-width:35px; margin-top: -10px">&nbsp;云平台
            </a>
        </div>
    </div>
</nav>
<div class=container-fluid>
    <table class="table table-bordered table-striped">
        <tr>
            <td>UID</td>
            <td>{{ who.uid|e }}</td>
        </tr>
        <tr>
            <td>姓名</td>
            <td>{{ who.realname|e }}</td>
        </tr>
        <tr>
            <td>权限</td>
            <td>{{ '管理员' if who.admin else '' }} {{ '配置负载均衡' if who.lb else '' }}</td>
        </tr>
    </table>
</div>
{% endblock %}
